*{
  margin:0px;
  padding:0px;
  box-sizing: content-box;
}
.main_container{
  overflow: scroll;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  width:100%;
  height:100%;
  
  background: rgb(230,255,255);
}

.visual{
  border-radius: 15px;
  /*text-overflow: clip;*/
  display: inline-block;
  
  min-width: 520px;
 /* height: 100%;*/
  background-color: rgba(15, 200, 200, 1.0);
  text-align: center;
}

.visual :is(h2, h3, p){
  margin-top: 20px;

}
.visual h3 {
  color: chocolate;'
  text-shadow: seagreen;
}

.container {
  height:30%;
  width:15%;
  min-width: 300px;
  min-height: 300px;
  margin-right: 20px;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  padding:35px;
  cursor:default;
  background: rgba(102, 205, 51, 0.9);
  border-radius:5%;
  box-shadow: 4px 4px 15px 5px #000000;
  transition: box-shadow 0.3s , margin-bottom 0.3s  ;
  
  
}
.container ::selection{
  color:blue;
}

/*.container:hover{
  box-shadow: 4px 19px 15px 5px #000000;
  margin-bottom:30px ;
}*/

.topic{
 font-size: 1.8em;
}

.email {
  font-size: 1em;
  height:10px ;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  
}
.emailN{
  
}

.password {
  font-size: 1em;
  height: 10px;
  width:100%;
  display:flex;
 justify-content:space-between;
  align-items:center;
 
  
}
.passwordN{
  
}
input[type="email"], input[type="password"]{
  
  padding:4% 4% 4% 7% ;
  height: 15px;
  width:90%;
  background-color: rgba(10, 10, 10,0.5) ;
  color:black ;
  border-width:0;
  border:none ;
  border-radius: 10px 10px 10px 10px;
  transition : border-width 0.3s , box-shadow 0.3s , margin-bottom 0.3s;
  
}
input[type="email"]:hover, input[type="password"]:hover{
  
  cursor:pointer;
  border-style:solid ;
  border-width:1px;
 box-shadow: 0px 10px 13px -7px #000000, 5px 15px 15px 15px rgba(0,0,0,0);
  margin-bottom:13px;
}
input[type="email"]:focus, input[type="password"]:focus{
  background-color:rgba(255, 255, 255,1);
  box-shadow: 0px 10px 13px -7px #000000, 5px 15px 15px 15px rgba(0,0,0,0);
  color:black;
  cursor:text;
}



.submit {
  background-color: black;
  font-size:1em;
  color:white;
  padding:2px;
  border-radius:5px;
  align-self:flex-start; 
  user-select:none ;
}
.submit:active {
  padding:1px;
  font-size:1em;
}

@media screen and (max-width: 600px){
  .main_container{
  display:flex;
  flex-direction: column-reverse;
  width: 100vw;
  height: 100%;
  
  justify-content: space-around;
}
.visual{
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  height: 100%;
  width:100vw;
  
  font-size: 1em;
}
.visual :is(h2,h3,p){
  margin: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  max-height: 40px;
}
  .container {
    margin-top: 10px;
  height:400px;
  width:70vw;

  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  padding:4px; 
  cursor:default;
  background: rgba(102, 205, 51, 0.9);
  border-radius:5%; 
  }

  .email {
  font-size: 1em;
  height:10px ;
  width:100%;
  display:flex;
  align-items:center;
  justify-content: space-evenly;
  
  }
  .password {
  font-size: 1em;
  height: 10px;
  width:100%;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
 
  
  }
}