{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>Please Login</title>
  <link rel="stylesheet" type="text/css" href="{% static 'login/styles/login.css' %}">
</head>
<body>

<div class="login_wrapper">
  <div class="show">
    <div><h2 style="color:white"> Welcome To Bluetangles </h2></div>
      <div>
        <h4 style="color:white">Currently running VPN service and discord bot</h4>

      </div>
  </div>
  <div class="login_container">
    <div class="login_header">
      <p>Owned By: Subash</p>
    </div>
    <form action="/loggedspace/" method="post">
      {% csrf_token %}
     <div class="login_part"> 
      <label>Email </label>
      <input type="email" name="email">
    </div>
    <div class="login_part">
      <label>Password</label>
      <input type="Password" name="Password">
      </div>
      <div class="submit_btn login_part">
      <input type="submit" value="Send it">
    </div>
    </form>
    <div class="login_error">
      
    </div>
    <div class="login_footer">
      <p>Remember, it is under construction. </p>
      <!-- <p>5jb16efox@relay.firefox.com if you want to test</p> -->
    </div>
  </div>
</div>
<!-- <div class="footer"><p>Please Email 5jb16efox@relay.firefox.com  for suggestions or if you want to test.</p></div> -->

</body>
</html>