{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>Please Login</title>
  <link rel="stylesheet" type="text/css" href="{% static 'index/styles/index.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>

<div class="login_wrapper">
    <div class="login_container">
    <div class="login_header">
      <p>Owner: Subash</p>
    </div>
    <form action="" method="post">
      {% csrf_token %}
     <div class="login_part"> 
      <label>Username </label>
      <input type="text" name="usernamea" >
    </div>
    <div class="login_part">
      <label>Password</label>
      <input type="password" name="passworda" >
      </div>
      <div class="submit_btn login_part">
      <input type="submit" value="Send it">
    </div>
    </form>
    <div class="signup_link"><a href="signup/"> Oh, I gotta signup</a></div>
    <div class="error">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
    <div class="login_footer">
      <p>Remember, it is under construction. </p>
      <!-- <p>5jb16efox@relay.firefox.com if you want to test</p> -->
    </div>
  </div>
</div>
<!-- <div class="footer"><p>Please Email 5jb16efox@relay.firefox.com  for suggestions or if you want to test.</p></div> -->

</body>
</html>