{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>Please Register</title>
	<link rel="stylesheet" type="text/css" href="{% static 'index/styles/registration.css' %}"> 
</head>
<body>
	<!-- <h1>This is registration page. At this time users can only login if added by administrator</h1> -->
	 <div class="show_wrapper">
     <div class="show">
      <!-- <div><h2>Registration Form</h2></div> -->
      <form action="/registration/" method="post">
        {% csrf_token %}
        <!-- <div class="registration_part_wrapper"> -->
        <div class="registration_part form_header"><h2>Registration Form</h2></div>
        <div class="registration_part">
        <label>First Name:</label>
        <input type="text" name='fname'>
      	</div>
        <div class="registration_part">
        <label>Last Name:</label>
        <input type="text" name='lname'>
        </div>
        <div class="registration_part">
        <label>Username:</label>
        <input type="text" name='username'>
        </div>
        <div class="registration_part">
        <label>Email:</label>
        <input type="email" name='regemail'>
        </div>
        <div class="registration_part">
        <label>Password:</label>
        <input type="Password" name='regpassword'>
        </div>
        <div class="registration_part">
        <label>Password (Confirm):</label>
        <input type="Password" name='regpassword'>
        </div>
        <div class="error">
          {% for message in messages %}
        {{ message }}
      {% endfor %}
        </div>
        <div class="registration_part">
        <input type="submit" value="register Me">
      </div>

    <!-- </div> -->
      </form>
      <div></div>
    </div>
  </div>
</body>
</html>